@model Post


<article class="media content-section">
    @if (string.IsNullOrEmpty(Model.User.ImagePath))
    {
        <img class="rounded-circle article-img" src="~/images/default.jpg" alt="" />
    }
    @if (!string.IsNullOrEmpty(Model.User.ImagePath))
    {
        <img class="rounded-circle article-img" src="~/images/@Model.User.ImagePath" alt="" />
    }
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" asp-action="Userposts" asp-route-userId="@Model.User.Id">@Model.User.UserName</a>
            <small class="text-muted">@Model.PostDate</small>
        </div>
        <h2><a class="article-title">@Model.Title</a></h2>
        <p class="article-content">
            @Model.Body
        </p>
    </div>
</article>